/*
#9 プロパティの値を指定しよう
値
ー長さ
ーpx画面の一つ一つ
ーem相対的視点（親要素のフォントサイズ対して何倍か何文字）
ー％相対的視点　（幅や大きさの何％か示している）
ー色
	-名前
	-RGB
		-Red 0-f / 00-ff / 0-255 / 0%-100%
		-Green
		-Blue
*/
/*
*/

body{ font-size: 16px; }
h1 {font-size: 2em; } /*32px*/
h1 {font-size: 150%; } /*24px*/

h1{color: blue;}
h1{color: #00f; }
h1{color: #0000ff; }
h1{color: rgb(0, 0, 255); }
h1{color: rgb(0%, 0%, 100%); }