/*
どの要素に対してセレクタ{プロパティ名：　値；}プロパティ＝特性　複数書く場合はセミコロンを忘れずに
	{プロパティ名：　値；}
	{プロパティ名：　値；

}
字下げ等する場合がある
*ユニバーサルセレクタ（全ての要素を指定した場合）
要素名　p h1 div（直接書くことができる）
#id　idの時は＃を必ずつける
.class クラス名を書く場合は
*/


/*p{ color: skyblue; }*/
h1{ color: skyblue; }
#first{color: red;}
.points{color: violet;}