/*
#8 セレクタの詳細度を理解しよう
セレクタ
詳細度 複数のセレクタがあった場合にどのセレクタが優先されるかを決めるためのルール
	(a)style=""
	(b)id
	(c)属性・擬似クラス
	(d)要素・擬似要素
	同じ詳細度だった場合下の方が優先される

	!importantをつけると最優先される
*/
/*
*/

a{ color: skyblue; }
/*0,0,0,1*/
a.link{ color: pink; }
/*0,0,1,1*/
a.search{ color: orange; }
/*0,0,1,1*/
a#site { color: blue; }
/*0,1,0,1*/